<table class="table table-stripped table-collapsed">
  <thead>
  	{{easy-row row=table.headers}}
  </thead>
  <tbody>
  {{#each row in table.body}}
  	{{easy-row row=row}}
  {{/each}}
  </tbody>
</table>