<table class="table table-stripped table-collapsed">
  <thead>
  	{{easy-row row=table.headers table=table showEditorForSelectedCell=showEditorForSelectedCell selectedCellPosition=selectedCellPosition navigateLeft='navigateLeft' navigateUp='navigateUp' navigateRight='navigateRight' navigateDown='navigateDown' removeRow='removeRow' removeColumn='removeColumn' moveRowDown="moveRowDown" insertRowAfter="insertRowAfter" insertColumnAfter="insertColumnAfter" highlightedRow=highlightedRow
  	highlightedColumn=highlightedColumn}}
  </thead>
  <tbody>
  {{#each row in table.body}}
  	{{easy-row row=row table=table showEditorForSelectedCell=showEditorForSelectedCell selectedCellPosition=selectedCellPosition navigateLeft='navigateLeft' navigateUp='navigateUp' navigateRight='navigateRight' navigateDown='navigateDown' removeRow='removeRow'  removeColumn="removeColumn" moveRowDown="moveRowDown" insertRowAfter="insertRowAfter"  insertColumnAfter="insertColumnAfter" highlightedRow=highlightedRow
  	highlightedColumn=highlightedColumn}}
  {{/each}}
  </tbody>
  <tfoot>
    {{yield}}
  </tfoot>
</table>