{{#if cell.isIndex}}{{displayableIndex}}{{/if}}
{{cell.value}}
{{#if editorShown}}{{easy-editor 
	oneWayValue=cell.value 
	navigate="navigate"
	save="save"
	stopEdition="stopEdition"
	saveOnLeave="saveOnLeave"
}}{{/if}}
{{#if inError}}<div class="error">{{errorMessage}}</div>{{/if}}
