.easy-datatable-container {
  position: relative;
}

table {
  table-layout: fixed;
}

td, th {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
td input, th input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

td.highlighted {
  background-color: #d9f6fe;
}

th.highlighted {
  background-color: #ffb93e;
}

td.protected {
  background-color: #eee;
}

th.protected {
  background-color: #eee;
}
th.alert-danger input {
  background-color: #f2dede;
  border-color: #ebccd1;
}

td.alert-danger input {
  background-color: #f2dede;
  border-color: #ebccd1;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  overflow: scroll;
}

.easy-datatable-container.full-screen table {
  table-layout: auto;
  min-width: 100%;
}
